---
title: "About"
author: "Daniel Quiroz"
date: "2022-02-28"
image: /img/danielquiroz.jpg
editor_options:
  markdown:
    wrap: 72
---



<div id="about-me" class="section level2">
<h2>About me</h2>
<p><img src="/img/danielquiroz.jpg" alt="This is me" width="35%"/></p>
<p>Greetings! I’m a dedicated PhD candidate at the
<a href="https://www.cooperstonelab.com">Cooperstone Lab</a>
within The Ohio State University, where my passion lies in the fascinating
intersection of metabolomics and genomics. My doctoral journey revolves around
unraveling the genomic regions orchestrating the expression of phytochemicals—a
mission that fuels my curiosity and intellectual drive.</p>
</div>
<div id="software-development" class="section level2">
<h2>Software development</h2>
<p>My expertise extends beyond the lab bench. I’m an enthusiastic mass spectrometry
aficionado and a skilled software developer, and I’ve recently undertaken
some exciting projects:</p>
<ul>
<li><a href="https://cooperstonelab.github.io/MS2extract/">MS2extract</a>: I’ve crafted
an R package designed to construct in-house MS/MS libraries,
facilitating advanced mass spectrometry analyses.</li>
<li><a href="https://cooperstonelab.github.io/PhenolicsDB/">PhenolicsDB</a>:
I’ve created a specialized MS/MS database, dedicated to the
intricate world of phenolic compounds.</li>
<li><a href="https://danielquiroz97.github.io/RGCxGC/">RGCxGC</a>: My R package streamlines
the end-to-end processing of GCxGC-MS data, simplifying complex data analysis.</li>
</ul>
</div>
<div id="data-analysis" class="section level2">
<h2>Data analysis</h2>
<p>To delve into my work further, take a look at my repositories, where you’ll
find examples of mass spectrometry data analysis, as well as my ventures into
microbiome analysis:</p>
<div id="mass-spectrometry" class="section level3">
<h3>Mass Spectrometry</h3>
<ul>
<li><a href="https://github.com/CooperstoneLab/apple_phytochemicals">Apple phytochemicals</a>:
Targeted peak integration of MS data of phytochemicals present in
apples.</li>
<li><a href="https://github.com/IKIAM-NPL/U_sagittifolia_tubers">Uruspatha sagittifolia metabolomics</a>:
Exploring the metabolome of a plant with the power of stoping snake venom.</li>
</ul>
</div>
<div id="microbiome" class="section level3">
<h3>Microbiome</h3>
<ul>
<li><a href="https://github.com/DanielQuiroz97/Floral_Microbiome">Ornamental Floral microbiome</a>:
Metagenomics analysis of the rhizosphere of ornamental cultivars.</li>
<li><a href="https://gitlab.com/ec.microbiome.proj/cayambe-microbiome-year-1">Microbiome present in Cayambe glaciar</a>:
Here, we explored the microbiome present in a tropical glacier.</li>
<li><a href="https://gitlab.com/ec.microbiome.proj/sumaco-microbiome-year-1">Microbiome present in Sumaco stratovolcano</a>:
Here, we explored the microbiome present in a tropical sleeping volcano.</li>
</ul>
</div>
</div>
<div id="teaching-and-mentoring" class="section level2">
<h2>Teaching and mentoring</h2>
<p>Beyond my research, I’m deeply committed to the realms of teaching and
mentoring. I’m currently serving as a teaching assistant for the
<a href="http://datavisualizing.netlify.app/">DataViz in R</a>, and I find great
fulfillment in guiding for the second time. Additionally,
I’m a mentor within the <a href="https://github.com/IKIAM-NPL">Metabolomics Group</a>
at Ikiam University, where I’m devoted to nurturing the next generation of
scientists.</p>
<p>In essence, my journey is a fusion of scientific exploration, software
innovation, and the joy of passing on knowledge. If you share my passion
for metabolomics, genomics, or data science, let’s connect and embark on a
journey of discovery together!</p>
</div>
<div id="recent-publications" class="section level2">
<h2>Recent Publications</h2>
<ul>
<li><p>2023 - Magdalena Dias, Pablo Monfort-Lanzas, <em>Cristian
Quiroz-Moreno</em>, et al., <strong>The microbiome of the ice-capped Cayambe
Volcanic Complex in Ecuador</strong>. Frotiers in Microbioloy
<a href="https://www.frontiersin.org/articles/10.3389/fmicb.2023.1154815/full?s=09">(link)</a>.</p></li>
<li><p>2022 - Magdalena Dias, <em>Cristian Quiroz-Moreno</em>, et al., <strong>Soil
bacterial community along an altitudinal gradient in the Sumaco, a
stratovolcano in the Amazon region</strong>. Frontiers in Forest and Global
Change
<a href="https://www.frontiersin.org/articles/10.3389/ffgc.2022.738568/full">(link)</a>.</p></li>
<li><p>2022- Mallory L. Goggans, Emma A. Bilgrey, <em>Cristian Quiroz-Moreno</em>,
et. al., <strong>Short-Term Tomato Consumption Alters the Pig Gut
Microbiome toward a More Favorable Profile</strong>. Mirobiology Spectrum
<a href="https://journals.asm.org/doi/abs/10.1128/spectrum.02506-22">(link)</a>.</p></li>
<li><p>2020 - <em>Cristian Quiroz-Moreno</em>, et. al., <strong>RGCxGC toolbox: an
R-package for data processing in comprehensive two-dimensional gas
chromatography-mass spectrometry</strong>. Microchemical Journal
<a href="https://www.sciencedirect.com/science/article/pii/S0026265X20304914">(link)</a>.</p></li>
<li><p>2018 - Noroska Salazar, <em>Cristian Quiroz-Moreno</em>, et. al.,<br />
<strong>New advances in toxicological forensic analysis using mass
spectrometry techniques</strong>. Journal of Analytical Methods in
Chemistry
<a href="https://www.hindawi.com/journals/jamc/2018/4142527/abs/">(link)</a>.</p></li>
</ul>
</div>
