---
title: Using ms-mint for targeted peak integration of Mass Spec data
author: Cristian Quiroz-Moreno
date: '2023-09-05'
slug: [ms-mint]
categories:
  - LC-MS
tags:
  - LC-MS
  - ms-mint
  - DataViz
subtitle: 'Using ms-mint for targeted peak integration'
description: 'In this post, we will use ms-mint with the objective of integrated peak areas of identified phytochemicals present in apples'
image: ''
editor_options: 
  markdown: 
    wrap: 72
---

<script src="{{< blogdown/postref >}}index_files/htmlwidgets/htmlwidgets.js"></script>
<link href="{{< blogdown/postref >}}index_files/datatables-css/datatables-crosstalk.css" rel="stylesheet" />
<script src="{{< blogdown/postref >}}index_files/datatables-binding/datatables.js"></script>
<script src="{{< blogdown/postref >}}index_files/jquery/jquery-3.6.0.min.js"></script>
<link href="{{< blogdown/postref >}}index_files/dt-core/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="{{< blogdown/postref >}}index_files/dt-core/css/jquery.dataTables.extra.css" rel="stylesheet" />
<script src="{{< blogdown/postref >}}index_files/dt-core/js/jquery.dataTables.min.js"></script>
<link href="{{< blogdown/postref >}}index_files/crosstalk/css/crosstalk.min.css" rel="stylesheet" />
<script src="{{< blogdown/postref >}}index_files/crosstalk/js/crosstalk.min.js"></script>


<p>Goal of this notebook</p>
<p>This notebook has the objective to exemplify the use of targeted
integration of phytochemicals that are present in untargeted
metabolomics data of apple fruit reported in <a href="https://nph.onlinelibrary.wiley.com/doi/full/10.1111/nph.17693">Bilbrey et al.
(2022)</a></p>
<p>In this case, we are going to use only the quality control (QC) samples.</p>
<div id="importing-python-libraries" class="section level2">
<h2>Importing python libraries</h2>
<p>Importing python libraries</p>
<p>In this section, we will upload the required libraries in order to
targeted integrate a series of phytochemicals found in apples fruits.
The main library for this purpose is ms-mint which allows to integrate
ions of interest. In our case, each ion of interest refers to a specific
phytochemical. For example, chlorogenic acid with a monoisotopic mass of
354.0950 Da. Thus, the ion in positive ionization mode will be 355.1023
m/z, while an ion of 353.0877 m/z corresponds to negative ionization.</p>
<pre class="python"><code># ms-mint: Instance for MS spectrometry data
from ms_mint.Mint import Mint
import pandas as pd # Data wrangling
import numpy as np
import re # Regular expressions
import glob # listing files
import seaborn as sns
import plotly.express as px # Interactive plots
import pickle # Export python object
#from ms_mint.notebook import Mint
mint = Mint()</code></pre>
</div>
<div id="selecting-qcs-files" class="section level2">
<h2>Selecting QCs files</h2>
<div id="negative-ionization" class="section level3">
<h3>Negative ionization</h3>
<p>Here, we are going to select all QC files, and we are printing the first
5 QC files.</p>
<pre class="python"><code>QC_files_neg = glob.glob(&quot;Data/mzML/Neg/QC*&quot;)
mint.ms_files = QC_files_neg
mint.ms_files[0:5]

[&#39;Data/mzML/Neg/QC_035.mzML&#39;,
 &#39;Data/mzML/Neg/QC_189.mzML&#39;,
 &#39;Data/mzML/Neg/QC_042.mzML&#39;,
 &#39;Data/mzML/Neg/QC_014.mzML&#39;,
 &#39;Data/mzML/Neg/QC_147.mzML&#39;]</code></pre>
</div>
<div id="target-ion-list" class="section level3">
<h3>Target ion list</h3>
<pre class="python"><code>target_list_neg = pd.read_excel(&quot;Data/Tables/targets.xlsx&quot;, sheet_name = &quot;target_neg&quot;)
mint.targets = target_list_neg
mint.targets</code></pre>
<pre class="r"><code>DT::datatable(target_neg)</code></pre>
<div class="datatables html-widget html-fill-item-overflow-hidden html-fill-item" id="htmlwidget-1" style="width:100%;height:auto;"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"filter":"none","vertical":false,"data":[["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25"],["4-Hydroxybenzaldehyde","3,4 dihydroxybenzoic acid","3,5-dihydroxybenzoic acid","Protocatechiuc acid","2,4,6- Trihydroxybenzaldehyde","p-Coumaric acid","Quercetin","Chlorogenic acid","Cyanidin-3-O-rutinoside","Rutin","(−)-Epicatechin","8-hydroxy Kaempferol","phloridzin","Quercitrin","Kaempferol-3-glucoside","quercetin-3-O-glucoside","2α-Hydroxyursolic Acid","Procyanidin B1","Procyanidin B2","Kaempferol 3-O-β-rutinoside","Isorhamnetin-3-O-β-D-Rutinoside","malic acid","D-(+)-glucose","quinic acid","(+)-Catechin"],[121.0294794,153.0193087,153.0193087,153.0193087,153.0193087,163.04004,301.0353,353.08778,594.1589,609.14608,289.07173,301.03535,435.12964,447.09326,447.09326,463.08817,471.3479,577.1351,577.1351,593.1511,623.1617,133.01422,179.056,191.05608,289.07173],[10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10],[150,112,112,112,159,163,217,2.249,2.271,166,147,210,3.2,183,3.058,169,373,2.572,2.34,2.946,2.984,30,0.319,0.34,135],[148,110,110,109,157,161,214,2.189,2.211,162,144,207,3.14,179,2.998,163,371,2.512,2.28,2.886,2.924,18,0.259,0.28,132],[154,117,116,117,163,165,221,2.309,2.331,169,151,214,3.26,186,3.118,175,376,2.632,2.4,3.006,3.044,36,0.379,0.4,140],["s","s","s","s","s","s","s","min","min","s","s","s","min","s","min","s","s","min","min","min","min","s","min","min","s"],[1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000]],"container":"<table class=\"display\">\n  <thead>\n    <tr>\n      <th> <\/th>\n      <th>peak_label<\/th>\n      <th>mz_mean<\/th>\n      <th>mz_width<\/th>\n      <th>rt<\/th>\n      <th>rt_min<\/th>\n      <th>rt_max<\/th>\n      <th>rt_unit<\/th>\n      <th>intensity_threshold<\/th>\n    <\/tr>\n  <\/thead>\n<\/table>","options":{"columnDefs":[{"className":"dt-right","targets":[2,3,4,5,6,8]},{"orderable":false,"targets":0}],"order":[],"autoWidth":false,"orderClasses":false}},"evals":[],"jsHooks":[]}</script>
</div>
<div id="running-targeted-integration" class="section level3">
<h3>Running targeted integration</h3>
<pre class="python"><code>mint.run(fn = &#39;Results/Neg/raw_integration.csv&#39;)
&lt;ms_mint.Mint.Mint at 0x109083610&gt;
mint.plot.peak_shapes(col_wrap=3)</code></pre>
<p><img src="peaks_QC_neg.png" /></p>
</div>
</div>
<div id="positive-ionization" class="section level2">
<h2>Positive ionization</h2>
<p>On the other side of the ionization polarity, for positive ionization,
we proceed with the same workflow; describing the QCs files first, and
uploading the target list second.</p>
<pre class="python"><code>[&#39;Data/mzML/Pos/QC_035.mzML&#39;,
 &#39;Data/mzML/Pos/QC_189.mzML&#39;,
 &#39;Data/mzML/Pos/QC_014.mzML&#39;,
 &#39;Data/mzML/Pos/QC_147.mzML&#39;,
 &#39;Data/mzML/Pos/QC_203.mzML&#39;]</code></pre>
<div id="loading-targets" class="section level3">
<h3>Loading targets</h3>
<pre class="python"><code>targets_pos = pd.read_excel(&quot;Data/Tables/targets.xlsx&quot;, sheet_name = &quot;target_pos&quot;)
mint.targets = targets_pos
mint.targets</code></pre>
<pre class="r"><code>DT::datatable(target_pos)</code></pre>
<div class="datatables html-widget html-fill-item-overflow-hidden html-fill-item" id="htmlwidget-2" style="width:100%;height:auto;"></div>
<script type="application/json" data-for="htmlwidget-2">{"x":{"filter":"none","vertical":false,"data":[["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25"],["4-Hydroxybenzaldehyde","3,4 dihydroxybenzoic acid","3,5-dihydroxybenzoic acid","Protocatechiuc acid","2,4,6- Trihydroxybenzaldehyde","p-Coumaric acid","Quercetin","Chlorogenic acid","Cyanidin-3-O-rutinoside","Rutin","(−)-Epicatechin","8-hydroxy Kaempferol","phloridzin","Quercitrin","Kaempferol-3-glucoside","quercetin-3-O-glucoside","2α-Hydroxyursolic Acid","Procyanidin B1","Procyanidin B2","Kaempferol 3-O-β-rutinoside","Isorhamnetin-3-O-β-D-Rutinoside","malic acid","D-(+)-glucose","quinic acid","(+)-Catechin"],[121.0294794,153.0193087,153.0193087,153.0193087,153.0193087,163.04004,301.0353,353.08778,594.1589,609.14608,289.07173,301.03535,435.12964,447.09326,447.09326,463.08817,471.3479,577.1351,577.1351,593.1511,623.1617,133.01422,179.056,191.05608,289.07173],[10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10],[150,112,112,112,159,163,217,2.249,2.271,166,147,210,3.2,183,3.058,169,373,2.572,2.34,2.946,2.984,30,0.319,0.34,135],[148,110,110,109,157,161,214,2.189,2.211,162,144,207,3.14,179,2.998,163,371,2.512,2.28,2.886,2.924,18,0.259,0.28,132],[154,117,116,117,163,165,221,2.309,2.331,169,151,214,3.26,186,3.118,175,376,2.632,2.4,3.006,3.044,36,0.379,0.4,140],["s","s","s","s","s","s","s","min","min","s","s","s","min","s","min","s","s","min","min","min","min","s","min","min","s"],[1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000]],"container":"<table class=\"display\">\n  <thead>\n    <tr>\n      <th> <\/th>\n      <th>peak_label<\/th>\n      <th>mz_mean<\/th>\n      <th>mz_width<\/th>\n      <th>rt<\/th>\n      <th>rt_min<\/th>\n      <th>rt_max<\/th>\n      <th>rt_unit<\/th>\n      <th>intensity_threshold<\/th>\n    <\/tr>\n  <\/thead>\n<\/table>","options":{"columnDefs":[{"className":"dt-right","targets":[2,3,4,5,6,8]},{"orderable":false,"targets":0}],"order":[],"autoWidth":false,"orderClasses":false}},"evals":[],"jsHooks":[]}</script>
</div>
<div id="running-targeted-extraction" class="section level3">
<h3>Running targeted extraction</h3>
<pre class="python"><code>mint.run(fn = &#39;Results/Pos/raw_integration.csv&#39;)
&lt;ms_mint.Mint.Mint at 0x109083610&gt;</code></pre>
<pre class="python"><code>mint.plot.peak_shapes(col_wrap=3)</code></pre>
<p><img src="peaks_QC_pos.png" /></p>
</div>
</div>
