---
title: Setting R Executable Path in MZmine 2
author: Daniel Quiroz
date: '2020-04-21'
slug: mzmineonlinux
published: true
categories:
  - LC-MS
tags:
  - Liquid chromatography
  - mass spectrometry
  - Untarget metabolomics
  - MZmine
subtitle: 'How to set the R executable path in MZmine 2 in linux and windows OS'
description: 'MZmine in a multiplatform sortware which currently can be installed on linux distributions. Since MZmine employs some R package for back-end calculations, it must be connected with R. In this post, this oportunity is exlpored.'
image: '/img/post/debian10.png'
output:
  blogdown::html_page:
    toc: true
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>

<div id="TOC">
<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#mzmine-2-error">MZmine 2 error</a></li>
<li><a href="#windows-and-linux-solutions">Windows and linux solutions</a>
<ul>
<li><a href="#mzmine-2-back-end-computation">MZmine 2 back-end computation</a></li>
<li><a href="#windows-solution">Windows solution</a></li>
<li><a href="#linux-solution">Linux solution</a></li>
</ul></li>
</ul>
</div>

<style>
body {text-align: justify}
</style>
<div id="introduction" class="section level1">
<h1>Introduction</h1>
<p>Nowadays, data analysis in many fields is one of the most time consuming tasks.
In the case of metabolomics, high performance
equipment offers a more detailed data than ever before. In mass spectrometry, the
accuracy of high resolution mass spectrometers are under atomic mass units (&gt;&gt; 1 amu),
which usually drive to files with large sizes (&gt; 2GB, in profile mode).</p>
<p>In this context, when working with mass spectrometry data, users need to
consider extra data dimensions besides retention time and signal intensity.
Users also need to account for m/z creating a high dimensional data per sample.
Then, if we add replicates, it is an extra dimension which makes the analysis
of this type of data even more complex:</p>
<ul>
<li>Retention time,</li>
<li>MS1 ions, and</li>
<li>MS2 ions</li>
</ul>
<p>It is an example of three-way data, and it can be figure out as a cube. If we
add multiple samples, we are talking about four-way data.</p>
<p>With the currently challenge of programs to analyze MS data, software development
is a promising effort. Broadly, we can classify MS software as GUI and command
line based programs. They have their own advantages and drawbacks. For example,
in my opinion, meanwhile GUI programs are user friendly, command line approaches
are more flexible and allow a greater analysis customization. The free book
“<a href="https://rformassspectrometry.github.io/metaRbolomics-book/">The MetaRbolomics book</a>”
covers several packages built under R statistical software to analyze MS data, with
a metabolomics flavor.</p>
<p>In contrast, GUI based software are usually built under other programming languages
(i.e java, C++) and they do not require coding experience to use them. In
“<a href="https://www.springer.com/gp/book/9781071602386">Computational methods and data analysis for metabolomicss</a>” book, these
software were explained in one chapter for each one.</p>
<p>In the following chart we can see the number of citations of the GUI based MS
software (Fig. 1). One of the most cited software is the second version of MZmine.
One possible reason for the bigger user acceptation could be that MZmine
can employ some algorithms already implemented in R packages and users
have a previous view of the effect of some routines over the data. The installation
of these extra R packages is explained in its
<a href="http://mzmine.github.io/download.html">documentation</a>.</p>
<div class="figure">
<img src="/post/2020-04-21-setting-r-path-in-mzmin-on-linux_files/MS_softwares.png" alt="" />
<p class="caption">Figure 1</p>
</div>
</div>
<div id="mzmine-2-error" class="section level1">
<h1>MZmine 2 error</h1>
<p>The error of the MZmine rises when you try to use a module that is currently
built with R algorithms. For example, the following error appears when you
try to correct the baseline of the chromatogram with asymmetric least squares,
in the <code>ptw</code> package.</p>
<div class="figure">
<img src="/post/2020-04-21-setting-r-path-in-mzmin-on-linux_files/MZmine_error.png" height="20" alt="" />
<p class="caption">Figure 2. MZmine for the baseline correction module</p>
</div>
<p>The current post is aimed to explain how to set the R executable path in MZmine 2.</p>
</div>
<div id="windows-and-linux-solutions" class="section level1">
<h1>Windows and linux solutions</h1>
<div id="mzmine-2-back-end-computation" class="section level2">
<h2>MZmine 2 back-end computation</h2>
<p>MZmine 2 offers several processing algorithms for both, raw data and devonvoluted
features. Although the whole MZmine 2 tutorial can be conducted alongside built-in
functions, MZmine 2 can be connected in R and use routines of other packages, such
as xcms, baseline, ptw, etc.</p>
<p>The magic of this multiple platforms usage is supported by the <code>Rserve</code> package.
It enable data sharing and interconnectivity of both programs.</p>
<p>Basically, you have to install the following packages:</p>
<pre class="r"><code># From MZmine 2 documentation
install.packages(c(&quot;Rserve&quot;, &quot;ptw&quot;, &quot;gplots&quot;, &quot;baseline&quot;, &quot;hyperSpec&quot;, &quot;ggplot2&quot;,&quot;boot&quot;))
if (!requireNamespace(&quot;BiocManager&quot;, quietly = TRUE))
install.packages(&quot;BiocManager&quot;)
BiocManager::install()
BiocManager::install(c(&quot;xcms&quot;, &quot;CAMERA&quot;,&quot;PROcess&quot;))</code></pre>
</div>
<div id="windows-solution" class="section level2">
<h2>Windows solution</h2>
<p>Setting the executable path on windows is more intuitive than linux. This is
because you can easily access to directories where programs are installed,
in the C disk partition. You have to provide the path and the name of the
executable R file, by default the <em>R.exe</em> file.</p>
<p>In my case, the path to the R.exe file is:</p>
<pre class="r"><code>C:\Program Files\R\R-3.6.3\bin\R.exe</code></pre>
<p>You have to provide this path in the project preferences
(<strong>Project &gt; Set preferences &gt; R executable path</strong>)</p>
<div class="figure">
<img src="/post/2020-04-21-setting-r-path-in-mzmin-on-linux_files/mzmine_windows2.PNG" style="width:80.0%;height:100.0%" alt="" />
<p class="caption">Figure 3. MZmine project preferences on windows</p>
</div>
</div>
<div id="linux-solution" class="section level2">
<h2>Linux solution</h2>
<p>In case of linux based distribution, executable files are in the <em>/usr/bin</em>
directory. We can use the command <code>whereis</code> in the linux console to locate
the binary of a desired program, in our case, R.</p>
<pre class="bash"><code># user@user:/# 
whereis -b R</code></pre>
<pre><code>## R: /usr/bin/R /usr/lib/R /etc/R /usr/local/lib/R /usr/share/R</code></pre>
<p>As previously discussed, the executable files are under the <em>bin</em> directory
(/usr/bin/R). Therefore you can provide this path.
(<strong>Project &gt; Set preferences &gt; R executable path</strong>)</p>
<div class="figure">
<img src="/post/2020-04-21-setting-r-path-in-mzmin-on-linux_files/Rpath.png" style="width:50.0%;height:50.0%" alt="" />
<p class="caption">Figure 4. MZmine project preferences on linu</p>
</div>
<p>Now you can use modules which includes R packages, such as <code>xcms</code> for
chromatogram deconvolution, <code>ptw</code> and <code>baseline</code> for baseline correction.
For example, to correct the baseline of a chromatogram by the asymmetric
least square algorithm.</p>
<div class="figure">
<img src="/post/2020-04-21-setting-r-path-in-mzmin-on-linux_files/baselinecorrection.png" style="width:80.0%;height:80.0%" alt="" />
<p class="caption">Figure 5. ALS baseline correction</p>
</div>
</div>
</div>
